# The /node_modules folder keeps all packages installed at the moment
# and that are being used by this project.
# As all the information needed is in the "package.json" file, you just need
# to run the command "npm install" from your terminal the very first time
# you run this application. The NPM package manager will install
# all the dependencies for you.
node_modules/
backup/


# Create your own .env file using the file /examples/.env_example
# Follow the instructions contained in teh example file.
/.env