<header>
     <nav class="my-navbar navbar navbar-expand-lg navbar-dark">
          <div class="my-navbar-container d-flex justify-content-between align-items-center">
               <div>
                    <a class="my-navbar-brand navbar-brand" href="#">
                         <img src="../img/logo-justica-federal-50x50.png" width="50" height="50" class="d-inline-block align-center" alt="" loading="lazy">
                         SEATEN | Inventory
                    </a>
               </div>
               <div>
                    <div>
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                         </button>
                    </div>
               </div>
          </div>

          <div class="my-div-collapse collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                    <li class="my-nav-item nav-item active">
                         <a class="my-nav-link nav-link" href="#">Inventory <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="my-nav-item nav-item">
                         <a class="my-nav-link nav-link" href="#">Register</a>
                    </li>
                    <li class="my-nav-item nav-item">
                         <a class="my-nav-link nav-link" href="#">Documentation</a>
                    </li>
                    <li class="my-nav-item nav-item dropdown">
                         <a class="my-nav-link nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                         </div>
                    </li>
               </ul>
          </div>
     </nav>
</header>


<main class="container">

     <header class="container p-0">
          <h1 class="main-title text-center">Inventory</h1>

          <ul class="nav nav-tabs">
               <li class="nav-item">
                    <a class="nav-link active" href="#">Stock Items</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Models</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
               </li>
          </ul>
     </header>



     <section>
          <form class="filter-stock-items">
               <div class="form-group">
                    <legend class="h5">Filter</legend>
                    <label for="tableFilterInputField" class="sr-only">
                         Use the field below to search within the inventory.
                    </label>
                    <div class="input-group mb-2">
                         <div class="input-group-prepend">
                              <div class="input-group-text">🔎</div>
                         </div>
                         <input type="text" class="form-control" id="tableFilterInputField" placeholder="Search by category, model, inventory number, user or Service Now ticket" disabled>
                    </div>
               </div>
          </form>


          <table class="table table-hover table-responsive-sm" id="inventoryTable">
               <thead></thead>
               <tbody></tbody>
               <tfoot></tfoot>
          </table>


          <div class="container" id="paginationContainer" hidden>
               <div class="row">
                    <div class="col-md-8 d-flex justify-content-center justify-content-lg-start pt-3" id="tablePagination">
                    </div>

                    <div class="col-md-4 d-flex justify-content-center justify-content-lg-end">
                         <form class="form-inline">
                              <div class="form-group">
                                   <label for="itemsPerPage">Items per page: </label>
                                   <select class="form-control ml-3" id="itemsPerPage">
                                        <option value="4">4</option>
                                        <option value="20" selected>20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                   </select>
                              </div>
                         </form>
                    </div>
               </div>
          </div>

     </section>


     <p id='pNothingFound' class='text-center'>Nothing found 👎</p>


     <div class="table-spinner spinner-border" role="status">
          <span class="sr-only">Loading...</span>
     </div>

</main>



<aside class="modal fade" id="inventoryModal" tabindex="-1">
     <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

               <div class="modal-header">
                    <ul class="inventory-modal-pills nav nav-pills nav-fill">
                         <li class="nav-item" id="modalPillInfo">
                              <a class="my-pill-link nav-link" href="#"><i class="fas fa-info-circle"></i> Info</a>
                         </li>
                         <li class="nav-item" id="modalPillTransfer">
                              <a class="my-pill-link nav-link" href="#"><i class="fas fa-share"></i> Transfer</a>
                         </li>
                         <li class="nav-item" id="modalPillUpdate">
                              <a class="my-pill-link nav-link" href="#"><i class="fas fa-edit"></i> Update</a>
                         </li>
                         <!--<li class="nav-item">
                              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                         </li>-->
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
               </div>

               <div class="modal-body">
                    <div class="my-modal-spinner spinner-border" role="status">
                         <span class="sr-only">Loading...</span>
                    </div>
               </div>

               <div class="modal-footer">
                    <button type="button" id="modalBtnTransfer" class="btn btn-success">Transfer item</button>
                    <button type="button" id="modalBtnUpdate" class="btn btn-success">Update</button>
                    <button type="button" id="modalBtnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="modalBtnCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
               </div>

          </div>
     </div>
</aside>


<div id="opacityLayer"></div>


<aside class="modal fade" id="confirmationModal" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

               <div class="modal-header">
                    <div class="pl-5 d-flex justify-content-start align-items-center">
                         <i class="fas fa-exclamation-triangle"></i>
                         <h4>Confirmation</h4>
                     </div>
               </div>

               <div class="modal-body d-flex align-items-center">

               </div>

               <div class="modal-footer">
                    <button type="button" id="modalBtnConfirm" class="btn btn-primary">Save changes</button>
                    <button type="button" id="modalBtnAbort" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               </div>

          </div>
     </div>
</aside>


<footer class="page-footer d-flex align-items-center">
     <div class="container">
          <p class="m-0">Created by Jair Junior</p>
          <p class="m-0">© Copyright 2021</p>
     </div>
</footer>


<script src="../js/inventory.js"></script>
<script src="../js/inventory-modal-info.js"></script>
<script src="../js/inventory-modal-transfer.js"></script>
<script src="../js/inventory-modal-update.js"></script>