<main class="container">

     <header class="container p-0">
          <h1 class="main-title text-center">Register</h1>

          <ul class="nav nav-tabs">
               <li class="nav-item">
                    <a class="nav-link active" href="#">New Item</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">New Model</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">New Category</a>
               </li>
          </ul>
     </header>


     <div id="alert-Info" class="mt-5">
     </div>


     <section id="section-RegisterNewItem">
          <form class='mt-5' id='form-RegisterNewItem'>
               <div id="ItemSpecs"></div>
               <div id="InventoryNumber"></div>
               <div id="Provider"></div>
               <div id="Recipient"></div>
               <div id="TicketNumber"></div>
               <div id="Reason"></div>
               <div id="Remarks"></div>
               <div id="BtnRegister"></div>
          </form>
     </section>
     

</main>