
<header class="container p-0">
     <h1 class="main-title text-center">Register</h1>

     <ul class="nav nav-tabs">
          <li class="nav-item">
               <a class="nav-link active" href="#">Stock Items</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="#">Models</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="#">Categories</a>
          </li>
     </ul>
</header>



<section>
     
     <p>Formulário para cadastro!</p>

</section>
