* {
     padding: 0px;
     margin: 0px;
}

body {
     background-color:#FEFEFE;
}

.text-red{
     color: rgb(167, 1, 1);
}

/*********************************************************************/

main.container {
     min-height: 71vh;
}

/*********************************************************************/

.main-title {
     margin: 1em 0 1.3em;
}

/*********************************************************************/

.filter-stock-items {
     margin-top: 4.5vh;
}

/*********************************************************************/

.table-inventory thead th {
     font-weight: bold;
     vertical-align: middle;
}

/* Aligns all the <th> and <td> tags at the center, except the first ones in each row */
.table-inventory th:not(:first-child), .table-inventory tr td:not(:first-child) {
     text-align: center;
}

.table-inventory tr:hover{
     cursor: pointer;
}

.badge-available {
     background-color: rgb(3, 210, 3);
     border: 3px solid rgb(2, 180, 2);
     color: white;
}

.badge-taken {
     background-color: rgb(255, 0, 0);
     border: 3px solid rgb(218, 0, 0);
     color: white;
}

.my-table-spinner {
     display: block;
     margin: 100px auto;
}

/*********************************************************************/

.inventory-modal-pills {
     width: 100%;
}

.modal .nav-link i.fas::after {
     content: " ";
     white-space: pre;
}

.my-modal-spinner {
     display: block;
     margin: 100px auto;
}

.modal-item-title {
     margin-top: 0.5em;
     padding-bottom: 0.3em;
     border-bottom: 1px solid lightgray;
     display: inline-block;
}

.modal-item-section {
     margin-top: 2em;
}

.modal div.modal-body p {
     margin: 0 0 0.4em;
}

.modal-item-info {
     font-weight: bold;
}

#modalErrorMsg {
     color: red;
     margin: 10vh 0px;
}

/*********************************************************************/

fieldset.form-group {
     border: 1px solid rgba(0, 0, 0, 0.226);
     padding: 0.5rem 1.5rem 1.5rem;
     border-radius: 10px;
     margin-bottom: 2rem;
 }


 fieldset.form-group legend {
     width: auto;
     padding: 0 10px;
 }

/*********************************************************************/

.page-footer {
     background: rgb(35,136,76);
     background: radial-gradient(circle, rgba(35,136,76,1) 30%, rgba(29,97,56,1) 65%);
     margin-top: 10vh;
     min-height: 8vh;
     text-align: center;
     font-size: 1em;
     color: white;
}

/*********************************************************************/

@media screen and (max-width: 991px){
     .modal button.close {
          /*padding: .5rem .5rem;*/
          display: none;
     }

     .inventory-modal-pills .nav-link {
          padding: .5rem .5rem;
     }

     .page-footer {
          min-height: 10vh;
     }
}