* {
     padding: 0px;
     margin: 0px;
}

body {
     background-color:#FEFEFE;
}




.main-title {
     margin: 1em 0 1.3em;
}

.filter-stock-items {
     margin-top: 4.5vh;
}

.table-stock-items thead th {
     font-weight: bold;
     vertical-align: middle;
}

/* Aligns all the <th> and <td> tags at the center, except the first ones in each row */
.table-stock-items th:not(:first-child), .table-stock-items tr td:not(:first-child) {
     text-align: center;
}

.table-stock-items tr:hover{
     cursor: pointer;
}

.badge-available {
     background-color: rgb(3, 210, 3);
     border: 3px solid rgb(2, 180, 2);
     color: white;
}

.badge-taken {
     background-color: rgb(255, 0, 0);
     border: 3px solid rgb(218, 0, 0);
     color: white;
}

.my-spinner {
     display: block;
     margin: 100px auto;
}

.page-footer {
     background: rgb(35,136,76);
     background: radial-gradient(circle, rgba(35,136,76,1) 30%, rgba(29,97,56,1) 65%);
     margin-top: 50px;
     min-height: 8vh;
     text-align: center;
     font-size: 1em;
     color: white;
}






@media screen and (max-width: 991px){
     .page-footer {
          min-height: 10vh;
     }
}