* {
     padding: 0px;
     margin: 0px;
}

body {
     background-color:#FEFEFE;
}




.main-title {
     margin: 1em 0 1.3em;
}

.filter-items {
     margin-top: 4vh;
}

.table-items tr:hover{
     cursor: pointer;
}