.my-navbar-container {
     margin-left: 10vw;
}

.my-navbar-brand {
     font-size: 1.6em;
     font-weight: 600;
}

.my-navbar-brand img {
     border-radius: 10px;
     border: 1px solid green;
     margin-right: 10px;
}

.my-div-collapse {
     margin-right: 10vw;
     display: flex;
     justify-content: flex-end;
}

.my-nav-item {
     padding: 0px 14px;
}

.my-nav-link {
     text-transform: uppercase;
     letter-spacing: 1px;
}

.dropdown-item i.fas::after {
     content: "     ";
     white-space: pre;
}



@media screen and (max-width: 1200px){
     .my-navbar-container {
          margin-left: 1vw;
     }
     .my-div-collapse {
          margin-right: 1vw;
     }
}



@media screen and (max-width: 991px){
     .my-navbar {
          padding: .5rem 0 0;
     }

     .my-navbar-container {
          width: 92vw;
          margin: 0 auto .5rem;
     }
     
     .my-navbar-brand {
          font-size: 1.1em;
     }

     .my-div-collapse {
          display: block;
          margin: 0;
          padding: 5px 2vw;
          background-color: #1f7943;
     }
}