fieldset.form-group {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 0.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

fieldset.form-group legend {
    width: auto;
    padding: 0 10px;
}

.model-spec {
    font-weight: bold;
    text-align: center; 
}

#registerModelSpecs {
    margin-top: 2em;
}

#btnRegisterNewStockItem {
    display: block;
    margin: 2em auto 0;

}

#formRegisterStockItem {
    padding: 30px 40px;
    border-radius: 10px;
    /*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.267);*/
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


@media screen and (max-width: 991px){

    #formRegisterStockItem {
        padding: 20px 10px;
    }

}