#form-RegisterNewItem {
    padding: 60px 120px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 1px 5px, rgba(0, 0, 0, 0.44) 0px 1px 5px;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 0.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

fieldset legend {
    width: auto;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

label {
    color: rgba(0, 0, 0, 0.7);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.model-specs-title, .model-spec {
    font-weight: 600;
}

#btnRegisterNewStockItem {
    display: block;
    margin: 2em auto 0;

}

@media screen and (max-width: 991px){

    #form-RegisterNewItem {
        padding: 20px 10px;
    }

}